/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@font-face {
    font-family: myFont;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}
*{
    --color: #439A97;
    --dark: #387d7b;
    --ff: myFont;
    --color2: #97DECE;
    --color3: #EEEEEE;
    box-sizing: border-box;
}
body{
    background-color: var(--color3);
}
nav{
    padding: 0 5vw;
    background-color: var(--color);
    font-family: var(--ff);
    font-weight: 600;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header{
    font-size: 2rem;
    font-family: var(--ff);
    padding: .8rem 2rem;
    background-color: var(--color2);
    border-radius: 1rem;
}
nav ul{
    margin: 0 !important;
    padding: 0 !important;
}
nav li{
    height: 100%;
    padding: 0 !important;
}
nav a{
    display: block !important;
    padding: 3rem 2rem !important;
    height: 100%;
    color: white !important;
    transition: color 300ms ease-in-out;
}
nav a:hover{
    color: rgb(58, 58, 58) !important;
}
.main-body{
    min-height: 80vh;
    max-height: fit-content;
    padding-block-start: 1rem;
    padding-block-end: 3rem;
    background-color: var(--color3);
}
.first-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('../img/blob-haikei (2).svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vw * 6.5 / 16);
}
.first-container div{
    transform: translateY(1rem);
}
.first-image-container{
    width: 100%;
    height: 75vh;
    border-radius: 2rem;
    overflow: hidden;
    /* --ip: 1rem;
    padding: var(--ip); */
}
.first-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    --ip: 3rem;
    transform: translate(calc(var(--ip) * 2), calc(var(--ip) * .8));
}
.un-text{
    display: flex;
    align-items: center;
    font-size: 6rem;
    font-family: var(--ff);
    font-weight: 800;
    padding: 4rem;
    line-height: normal;
}



.second-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    height: calc(100vw * 7 / 19);
}
.second-image-container{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.second-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    --ip: 3rem;
    transform: translate(calc(var(--ip) * -1.2), 0);
}
.ex-text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    font-family: var(--ff);
    font-weight: 600;
    padding: 4rem;
    line-height: normal;
}
h{
    width: fit-content;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: var(--color2);
    border-radius: 1rem;
    margin-block-end: 1rem;
}

footer{
    font-family: var(--ff);
    background-color: var(--color) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 500;
}
.footer-first-line{
    padding: 3rem;
    border-bottom: 1px solid var(--color2);
}
.footer-second-div{
    padding-block-start: 3rem;
}
.footer-second-div div{
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--color2);
    border-radius: 1rem;
}
.footer-third-div{
    padding: 3rem;
}
footer a{
    color: rgb(1, 1, 201);
}


#page-wrapper{
    padding-block: 3rem !important;
}
.form-heading{
    background-color: var(--color);
}
.form-body 
label{
    color: var(--color);
}
.form-body
button:hover{
    background-color: var(--color);
}



.index-form
button{
    background-color: var(--color);
    width: 100%;
    transition: background-color 200ms ease-in-out;
}
.index-form
button:hover{
    background-color: var(--dark);
}


.panel-body
button{
    background-color: var(--color);
    transition: background-color 200ms ease-in-out;
}
.panel-body
button:hover{
    background-color: var(--dark);
}
.panel-body
label{
    color: var(--color);
    font-style: normal !important;
}

.col-md-4{
    margin:0  25% !important;
}


.container{
    padding-block: 3rem !important;
    margin: 0 !important;
    width: 100%;
}


.thead tr{
    background-color: var(--color) !important;
}

.link{
    font-style: normal !important;
    font-family: var(--ff);
    font-weight: 600;
    font-size: 1.6rem;
    width: 100%;
    margin-top: 2rem;
}
.link
a{
    display: inline-block;
    color: rgb(255, 255, 255) !important;
    text-align: center;
    background-color: var(--color);
    border-radius: .8rem;
    padding: 1.2rem 1.8rem;
    width: 100%;
}
.form-body
button{
    width: 100% !important;
    font-family: var(--ff);
}



.mgu-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: calc(100vw * 7 / 16) !important;
    background-image: url('../img/blob-scene-haikei (1).svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 !important;
}
.mgu-main-container
.first-image{
    transform: translateX(-5rem);
}
.mgu{
    font-family: var(--ff);
    font-weight: 800;
    font-size: 6rem;
    display: flex;
    align-items: center;
    padding-inline-start: 8rem;
    padding-inline-end: 3rem;
    /* padding-block: 10rem; */
    line-height: normal;
    transform: translateX(3vw);
}